%h2 Message
%dl.dl-horizontal
  %dt
  %h3
    Subject:
  %dd
    %h3
      = @message.subject
    From
    %dd= @message.sender.decorate.full_name
  %dt
    Patient
    %dd= @message.patient.decorate.full_name_with_dob if @message.patient.present?
  %dt
    Notes
    %dd= @message.notes
  - if @message.image.present?
    %dt
      Images:
      %dd
        = image_tag @message.image.url(:thumb)
