#comment
%h2 Specialist
%dl.dl-horizontal
  %dt
    Name
    %dd= @specialist.full_name
  %dt
    Practice Name
    %dd= @specialist.practice_name
  %dt
    Email
    %dd= @specialist.email
  %dt
    Specialty
    %dd= @specialist.specialty
  %dt
    Phone
    %dd= @specialist.phone

