%h2 Practitioner
%dl.dl-horizontal
  %dt
    Name
    %dd= @practitioner.full_name
  %dt
    Practice Name
    %dd= @practitioner.practice_name
  %dt
    Email
    %dd= @practitioner.email
  %dt
    Specialty
    %dd= @practitioner.specialty
  %dt
    Phone
    %dd= @practitioner.phone

