.lab-items
  .form-group
    %label.control-label.col-sm-2{:for => "message_subject"} Bridge/Crown
    .col-sm-10
      .item-description{data: {role: "item-description-holder"}}
      .restart.hide
        = link_to "Change selection", "#", class: "btn btn-primary", data: {role: "restart"}
      %div{data: {role: "chooser-container"}}
        .lab-item-types{data: {role: "types-container"}}
          .title
            Select a type
          - Labs::Catalog.new.types.each do |type|
            - type_key = type.downcase.gsub("/", "-").gsub(" ", "-")
            = button_tag type, class: "btn btn-primary type-button", data: { next: "[data-role='#{type_key}-container']"}, role: "item-option"
        = render "ceramics"
        = render "pfms"
        = render "metals"
        = render "composite"
        = render "temporary_other"
