.lab-item-types.next{data: {role: "pfm-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select a material", back: "types"
  - Labs::Catalog.new.items["PFM"]["Material"].each do |material|
    = button_tag material, class: "btn btn-primary type-button", data: {next: "[data-role='margin-container']"}, role: "item-option"
.lab-item-types.next{data: {role: "margin-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Design: select a margin", back: "pfm"
  - Labs::Catalog.new.items["PFM"]["Design"]["Margin"].each do |margin|
    = button_tag margin, class: "btn btn-primary type-button", data: {next: "[data-role='pontic-container']"}, role: "item-option"
.lab-item-types.next{data: {role: "pontic-container"}}
  = render "fixed_lab_item_types_title_bar", title: "(Bridge Only) Select a pontic", back: "margin"
  - Labs::Catalog.new.items["PFM"]["Design"]["Pontic"].each do |margin|
    = button_tag margin, class: "btn btn-primary type-button", data: {next: "[data-role='occlusion-pfm-container']"}, role: "item-option"
  = button_tag class: "btn btn-primary type-button", data: {next: "[data-role='occlusion-pfm-container']"} do
    %span
      Next (crown)
    %i.fa.fa-arrow-right
= render "occlusion_contacts", type: "pfm", back: "pontic"
