.lab-item-types.next{data: {role: "pfm-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select a material", back: "types"
  - Labs::Catalog.new.items["PFM"]["material"].each do |material|
    = button_tag material, class: "btn btn-primary type-button", data: {role: "item-option", next: "[data-role='design-container']"}
.lab-item-types.next{data: {role: "occlusion-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select occlusion type", back: "temporary-other"
  - Labs::Catalog.new.items.lab_item["occlusion"].each do |occlusion|
    = button_tag occlusion, class: "btn btn-primary type-button", data: {role: "item-option", next: "[data-role='contacts-container']"}
.lab-item-types.next{data: {role: "occlusion-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select occlusion type", back: "temporary-other"
  - Labs::Catalog.new.items.lab_item["occlusion"].each do |occlusion|
    = button_tag occlusion, class: "btn btn-primary type-button", data: {role: "item-option", next: "[data-role='contacts-container']"}
.lab-item-types.next{data: {role: "contacts-container"}}
  = render "fixed_lab_item_types_title_bar", title: "Select contact type", back: "occlusion"
  - Labs::Catalog.new.items.lab_item["contacts"].each do |contact|
    = button_tag contact, class: "btn btn-primary type-button", data: {role: "item-option"}
  .row
    .pull-right
      = button_tag "Done", class: "btn btn-primary", data: {role: "finisher"}
