.row.body-element
  %span.body-title Laboratory Orders
  %span.pull-right
    = link_to "Create a Laboratory order", new_laboratory_order_path, class: "btn btn-small btn-primary"
.listing
  .col-lg-2
    .vertical-menu
      .menu-item.active
        = link_to "#", data: {role: "message-list-selector", target: "active-orders"}do
          %i.fa.fa-bolt
          Active
      .menu-item
        = link_to "#", data: {role: "message-list-selector", target: "closed-orders"} do
          %i.fa.fa-archive
          Closed
      .menu-item
        = link_to "#", data: {role: "message-list-selector", target: "all-orders"} do
          All

  - if @active_orders.blank? && @closed_orders.blank? && @all_orders.blank?
    %span.empty-message
      There are no laboratory orders
  - else
    .col-lg-10{data: {role: "active-orders", showing: true}}
      %table.inbox-content
        = render partial: 'orders_list', locals: { orders: @active_orders }
    .col-lg-10{data: {role: "closed-orders"}, style: "display: none;"}
      %table.inbox-content
        = render partial: 'orders_list', locals: { orders: @closed_orders }
    .col-lg-10{data: {role: "all-orders"}, style: "display: none;"}
      %table.inbox-content
        = render partial: 'orders_list', locals: { orders: @all_orders }
