.case-form.lab-form
  .row.body-element
    %span.body-title
      New Lab Order
  .row.body-element.form-elements
    = bootstrap_nested_form_for(@laboratory_order,  data: {role: 'patient-form'}, layout: :horizontal) do |f|
      .col-sm-6
        = f.hidden_field :description, data: {role: "final-order-input"}
        = f.hidden_field :uuid, value: @uuid
        - if @current_patient.present?
          = f.text_field :patient_id, value: @current_patient.full_name_with_dob, disabled: true
          = f.hidden_field :patient_id, value: @current_patient.id
        - else
          = select2_for(object_type: :laboratory_order, field_name: :patient, field_type: Patient, label_method: :last_first_with_dob)
        = select2_for(object_type: :laboratory_order, field_name: :recipient, field_type: Laboratory, label_method: :name, label: "Lab")
        = f.hidden_field :recipient_type, value: "Laboratory"
        = f.hidden_field :originator_id
        = render "lab_item_selector", f: f
        .spacer
        = f.date_field :due_date
        = select2_for(object_type: :laboratory_order, field_name: :shipping_method, field_type: ShippingMethod, label_method: :pretty)
        .pull-right.submit
          = f.submit "Create Order", class: "btn-standard btn btn-primary send"
      .col-sm-6.large-input
        = f.text_area :special_instructions, rows: 10, placeholder: "Special instructions", label: nil
    .col-sm-6.dropzone-container
      = render "shared/images_drag_and_drop"
.row.body-element
  .dropzone{data: {role: "image-previews"}}
