.row
  .col-sm-7
    = bootstrap_form_for(@prescription_order,  data: {role: 'patient-form'}, layout: :horizontal) do |f|
      = f.text_field :rx_id, label: t(:rx_id, scope: :prescription), disabled: true
      = f.hidden_field :rx_id
      = f.select 'patient_id', Patient.all.map{|d| [d.decorate.last_first_with_dob, d.id]},{include_blank: true}, data: {type: 'select2', change: 'update-pt'}
      .form-group
        .col-sm-2
        .col-sm-10.pt-info
          = @patient.try(:pt_description)
      = f.text_field :practitioner_id, value: "#{@practitioner.full_name} - #{@current_practice.name}", disabled: true
      = f.select 'drug_id', Drug.all.map{|d| [d.name, d.id]},{label: 'Rx', include_blank: true}, data: {type: 'select2', attr: 'drug_id', change: 'update-rx'}
      = f.text_field :dispense_amount, label: t(:dispense_amount, scope: :prescription)
      = f.text_area :rx_instructions, label: t(:sig, scope: :prescription)
      = f.text_area :patient_instructions, label: t(:precautions, scope: :prescription)
      = f.date_field :created_at, disabled: true, label: t(:rx_date, scope: :prescription), data: {role: 'date-selector'}
      = f.date_field :expiration_date,  label: t(:expiration_date, scope: :prescription), data: {role: 'date-selector'}
      = f.text_field :refills, data: {role: 'refill-selector'}

      = f.check_box :dispense_only_as_written, label: t(:dispense_only_as_written, scope: :prescription)
      = f.check_box :label
      .submit
        = f.submit t(:submit, scope: :prescription), class: "btn-standard btn btn-primary send"

  .col-sm-5
    .body-title Monograph
    .monograph
      %p.drug-attr#title= @prescription_order.drug.try :name
      %p.drug-attr Adult Dosing
      %p.drug-desc#adult_dosing= @prescription_order.drug.try :adult_dosing
      %p.drug-attr Peds Dosing
      %p.drug-desc#peds_dosing= @prescription_order.drug.try :peds_dosing
      %p.drug-attr Contraindications & Cautions
      %p.drug-desc#contraindications= @prescription_order.drug.try :contraindications
      %p.drug-attr Interactions
      %p.drug-desc#interactions= @prescription_order.drug.try :interactions
      %p.drug-attr Pregnancy / Lactating Precautions
      %p.drug-desc#pregnancy_lactating_precautions= @prescription_order.drug.try :pregnancy_lactating_precautions

