- po = @prescription_order
- pt = po.patient.decorate
- pr = po.practitioner.decorate
- practice = pr.memberships.first
- drug = po.drug
- ph = po.pharmacy
- addr = practice.addresses.first

.row
  .col-sm-12.rx-paper.equal-height-div.right-gutter
    - unless po.printable?
      #void-watermark-container
        #void-watermark
          = t(:copy_watermark, scope: :prescription)
    .rx-header
      .rx-practice-name= po.practice.name
      .practice-addr
        %p= "#{addr.street1} #{addr.street2}"
        %p= "#{addr.city}, #{addr.state} #{addr.postal_code}"
      .row.spacer
      .row
        .col-sm-6
          %p Prescribed by: #{pr.full_name_with_suffix}
        .col-sm-6
          %p DEA: #{pr.dea_identifier}

        .col-sm-6
          %p= "NPI: #{practice.national_provider_identifier}"
          %p Telephone: #{po.practice.work_phone}

      .row.spacer

    .row.pt-info
      .col-sm-2.dt
        Patient
      .col-sm-4.dd
        %p= pt.full_name
        %p= pt.street
        %p #{pt.city}, #{pt.state}  #{pt.zip_code}

      .col-sm-6
        .row
          .col-sm-5
            %p Telephone
          .col-sm-5
            %p= pt.home_phone
        .row
          .col-sm-5
            %p Date of Birth
          .col-sm-5
            %p= pt.date_of_birth.strftime("%m/%d/%Y")
        .row
          .col-sm-5
            %p Rx Date
          .col-sm-5
            %p= po.created_at.strftime("%m/%d/%Y")
        .row
          .col-sm-5
            %p Exp Date
          .col-sm-5
            %p= po.expiration_date.strftime("%m/%d/%Y")

    .row.spacer

    .row.rx-info
      .col-sm-2.rx-logo
      .col-sm-9
        .row.rx-info
          .col-sm-11
            %span.rx-drug-name= drug.selection_name
        .row.rx-info
          .col-sm-3
            = I18n.t(:dispense_amount, scope: :prescription)
          .col-sm-8
            = po.dispense_amount
        .row.rx-info
          .col-sm-3
            = I18n.t(:sig, scope: :prescription)
          .col-sm-8
            = po.rx_instructions
        .row.rx-info
          .col-sm-3
            = I18n.t(:precautions, scope: :prescription)
          .col-sm-8
            = po.patient_instructions

    .row
      .col-sm-3
        .inline
          = I18n.t(:label_prescription, scope: :prescription)
        - if po.label
          .inline
            %i.fa.fa-check-square-o
        - else
          .inline
            %i.fa.fa-square-o
      .col-sm-4
        %span= I18n.t(:refills_allowed, scope: :prescription)
        %span.refills
          = pluralize(po.refills, 'time')
      .col-sm-5
        .inline
          - if po.dispense_only_as_written
            = I18n.t(:dispense_only_as_written, scope: :prescription)
            %i.fa.fa-check-square-o
          - else
            = I18n.t(:substitution_allowed, scope: :prescription)
            %i.fa.fa-check-square-o

    .row.spacer
    .row.spacer
    .row.spacer
      .col-sm-1
      .col-sm-11
        .sigblock
        = "#{pr.full_name}, #{pr.suffix}"
    .row
      .col-sm-12
        .rx-footer

