.row.body-element
  %span.body-title Prescription Orders
  %span.pull-right
    = link_to "Create a Prescription Order", new_prescription_order_path, class: "btn btn-small btn-primary"
.listing
  - if @prescription_orders.blank?
    %span.empty-message
      There are no prescription orders
  - else
    = paginate @prescription_orders
    %table.table.table-condensed.table-responsive
      %thead
        %th Date
        %th Patient
        %th Drug
        %th Practitioner
        %th Pharmacy
      %tbody
        - @prescription_orders.each do |rcase|
          %tr{data: {role: 'link-selector', target: edit_prescription_order_url(rcase)}}
            %td= rcase.created_at.strftime("%b %-d %Y")
            %td= rcase.patient.decorate.full_name_with_dob
            %td= rcase.drug.name
            %td= rcase.practitioner.decorate.full_name
            %td= rcase.pharmacy.name


