- po = @prescription_order
- pt = po.patient.decorate
- pr = po.practitioner.decorate
- practice = pr.memberships.first
- drug = po.drug
- ph = po.pharmacy
- addr = practice.addresses.first
.row
  .col-sm-12.rx-paper
    .rx-header
      .rx-practice-name= po.practice.name
      .practice-addr
        %p= "#{addr.address1} #{addr.address_2}"
        %p= "#{addr.city}, #{addr.state} #{addr.postal_code}"
      .row.spacer
      .row
        .col-sm-6
          %p Prescribed by: #{pr.full_name}
          %p= "DEA Reg No: #{pr.dea_identifier}"

        .col-sm-6
          %p= "NPI: #{practice.national_provider_identifier}"
          %p Telephone: #{po.practice.work_phone}

      .row.spacer
    
    .row.pt-info
      .col-sm-2.dt
        Patient
      .col-sm-4.dd
        %p= pt.full_name
        %p= pt.street
        %p #{pt.city}, #{pt.state}  #{pt.zip_code}

      .col-sm-6
        .row
          .col-sm-5
            %p Telephone:
          .col-sm-5
            %p= pt.home_phone
        .row
          .col-sm-5
            %p Date of Birth:
          .col-sm-5
            %p= l pt.date_of_birth
        .row
          .col-sm-5 
            %p Rx Date:
          .col-sm-5
            %p= l po.created_at
        .row
          .col-sm-5
            %p Exp Date:
          .col-sm-5
            %p= l po.expiration_date

    .row.spacer

    .row.rx-info
      .col-sm-2.rx-logo
        ' '
      .col-sm-9
        .row.rx-info
          .col-sm-11
            %span.rx-drug-name= drug.name
        .row.rx-info
          .col-sm-3
            Dispense
          .col-sm-8
            = po.dispense_amount
        .row.rx-info
          .col-sm-3
            Rx Inst
          .col-sm-8
            = po.rx_instructions
        .row.rx-info
          .col-sm-3
            Patient Inst
          .col-sm-8
            = po.patient_instructions

    .row
      .col-sm-5
        .inline Label
        - if po.label
          .inline
            %i.fa.fa-check-square-o
        - else
          .inline
            %i.fa.fa-square-o
    .row
      .col-sm-5
        .inline Refill
        .inline.refills= po.refills
        .inline= 'time'.pluralize
    .row
      .col-sm-12
        .rx-footer
          .inline Dispense only as written
          - if po.dispense_only_as_written
            .inline
              %i.fa.fa-check-square-o
          - else
            .inline
              %i.fa.fa-square-o

.row
  .col-sm-4
    .body-title Monograph
    .monograph
      %p.drug-attr#title= @prescription_order.drug.try :name
      %p.drug-attr Adult Dosing
      %p.drug-desc#adult_dosing= @prescription_order.drug.try :adult_dosing
      %p.drug-attr Peds Dosing
      %p.drug-desc#peds_dosing= @prescription_order.drug.try :peds_dosing
      %p.drug-attr Contraindications & Cautions
      %p.drug-desc#contraindications= @prescription_order.drug.try :contraindications
      %p.drug-attr Interactions
      %p.drug-desc#interactions= @prescription_order.drug.try :interactions
      %p.drug-attr Pregnancy / Lactating Precautions
      %p.drug-desc#pregnancy_lactating_precautions= @prescription_order.drug.try :pregnancy_lactating_precautions

= link_to "Print Prescription",print_prescription_order_path(@prescription_order) , data: {warning: 'coming-soon', message: "Printing prescriptions"}, class: "btn-standard btn btn-primary send print"

