- po = @prescription_order
- print_target = @current_visit ? visit_path(@current_visit) : prescription_orders_path
- editable = po.editable?
- submittable = po.submittable?

.row
  .col-sm-7
    = render 'patient_rx_page'

  .col-sm-4.rx-buttons

    = link_to t(:print, scope: :prescription), print_prescription_order_path(po), target: 'rx-print', data: {role: 'rx-print-button', target: print_target}, class: "btn-standard btn btn-primary"

    -if editable
      = link_to t(:edit, scope: :prescription), edit_prescription_order_path(po), class: 'btn btn-standard btn-primary'

    -if submittable
      .well
        Submit to clearing
        = bootstrap_form_for(po, url: submit_prescription_order_url(po), method: :put, data: {role: 'patient-form'}, layout: :vertical) do |f|
          = f.select 'pharmacy_id', Pharmacy.all.map{|d| [d.name, d.id]},{include_blank: true, hide_label: true}, class: 'form-control', data: {role: 'pharmacy-selector', type: 'select2'}
          = f.submit "Submit", class: "btn-standard btn btn-primary"

    .well
      = "#{po.flow_status.capitalize} on #{l po.updated_at}"
