= render 'patient_rx_page'

.row
  .col-sm-2
    .print-buttons.rx-buttons.pull-left
      - if @current_visit
        = link_to "Print Prescription",print_prescription_order_path(@prescription_order) , target: 'rx-print', data: {role: 'rx-print-button', target: visit_path(@current_visit)}, class: "btn-standard btn btn-primary "
      - else
        = link_to "Print Prescription",print_prescription_order_path(@prescription_order) , target: 'rx-print', data: {role: 'rx-print-button', target: prescription_orders_path}, class: "btn-standard btn btn-primary "
  .col-sm-10
    .row
      -if @prescription_order.submittable?
        = bootstrap_form_for(@prescription_order, url: submit_prescription_order_url(@prescription_order), method: :put, data: {role: 'patient-form'}, layout: :horizontal) do |f|
          .col-sm-5
            .print-buttons.rx-buttons
              = f.submit "Submit", class: "btn-standard btn btn-primary"
          .col-sm-5
            .print-buttons.rx-buttons
            = f.select 'pharmacy_id', Pharmacy.all.map{|d| [d.name, d.id]},{include_blank: true, hide_label: true}, class: 'form-control', data: {role: 'pharmacy-selector', type: 'select2'}
      - else
        .col-sm-11
          .padded.pull-right
            = "#{@prescription_order.flow_status.capitalize} on #{l @prescription_order.updated_at}"
