.image-gallery
  - @case.messages.first.images.each do |image|
    = render "shared/image_modal", image: image
    = link_to "#", class: "button", role: "button", data: {toggle: "modal", target: "[data-role='#{image.asset_file_name}-viewer']"}, id: "#{image.asset_file_name}-viewer" do
      .image
        = image_tag image.asset.url(:thumb)
