.messages
  - @case.messages.order("created_at desc")[0...@case.messages.count-1].each do |message|
    .well
      .message-heading
        %b= message.sender.full_name
        %b to #{message.recipient.full_name}
        %span.time-display
          Sent on: #{message.created_at.strftime("%b %-d %Y %l:%m %P")}
      %ul.horizontal.unstyled
        %li
          = message.body
        %li
          - message.attachments.each do |attachment|
            -# = render "shared/image_modal", image: image
            = link_to "#", class: "button", role: "button", data: {toggle: "modal", target: "[data-role='#{attachment.asset_file_name}-viewer']"} do
              = image_tag attachment.asset.url(:thumb), data: {"zoom-image" => attachment.asset.url(:original), role: "zoom"}

