.well
  .message-heading
    %b= message.try(:sender).try(:full_name)
    %b to #{message.try(:recipient).try(:full_name)}
    %span.time-display
      Sent on: #{message.created_at.strftime("%b %-d %Y %l:%m %P")}
  %ul.horizontal.unstyled
    %li
      = message.body
    %li
      - message.attachments.each do |attachment|
        = link_to image_tag(attachment.asset.url(:thumb)), "#testmodal#{attachment.id}"
        .remodal{data: {remodal_id: "testmodal#{attachment.id}"}}
          = image_tag attachment.asset.url(:original), class: "annotate", data: {get_url: attachment_annotations_path(attachment), create_url: attachment_annotations_path(attachment), delete_url: attachment_annotations_path(attachment)}
