.reply-area.form-group
  %h4
    Reply to this message
  = nested_form_for @case, layout: :horizontal do |f|
    = f.fields_for :messages, @case.messages.build do |message_builder|
      = message_builder.hidden_field :sender_id, value: current_user.practitioner.id
      = message_builder.hidden_field :uuid, value: @uuid
      = message_builder.text_area :body, class: "notes form-control"
    = f.submit "Reply", class: "btn btn-default"
  = render "shared/images_drag_and_drop"
