%h3
  = "#{current_user.practitioner.decorate.full_name} - Inbox"
  %span.pull-right
    = link_to "Compose message", new_case_path, class: "btn btn-primary"
.listing
  - if @cases.blank?
    %span.empty-message
      There are no messages in your inbox
  - else
    %table.table.table-condensed.table-responsive
      %thead
        %th From
        %th Subject
        %th Patient Name
      %tbody
        - @cases.each do |message|
          %tr
            %td= message.sender.decorate.full_name
            %td= link_to message.subject, case_path(message)
            %td= message.patient.decorate.full_name_with_dob

