%h3
  = "#{current_user.practitioner.decorate.full_name} - Inbox"
  %span.pull-right
    = link_to "Compose message", new_case_path, class: "btn btn-small btn-primary"
.listing
  - if @cases.blank?
    %span.empty-message
      There are no messages in your inbox
  - else
    %table.table.table-condensed.table-responsive
      %thead
        %th From
        %th Subject
        %th Patient Name
        %th Sent
      %tbody
        - @cases.each do |rcase|
          %tr
            %td= rcase.originator.decorate.full_name
            %td= link_to rcase.subject, case_path(rcase)
            %td= rcase.patient.decorate.full_name_with_dob
            %td= rcase.updated_at.strftime("%b %-d %Y at %I:%M %p")

