.case-form
  .row.body-element
    %span.body-title
      StatImage
  .row.body-element
    .col-sm-6
      = bootstrap_nested_form_for @case, layout: :horizontal do |f|
        = select2_for(object_type: :case, field_name: :recipient, field_type: Practitioner, label_method: :full_name)
        = f.hidden_field :recipient_type, value: "Practitioner"
        = f.hidden_field :originator_id, value: current_user.practitioner.id
        = f.text_field :subject
        = select2_for(object_type: :case, field_name: :patient, field_type: Patient, label_method: :full_name_with_dob, selected: @patient)
        -# Removing since there is no use case yet for this. Leaving in commented out.
        -# = f.text_field :case_number
        = render "shared/message_form", f: f, hide_label: false
        .pull-right.submit
          = f.submit "Send", class: "btn-standard btn btn-primary send"
    .col-sm-6
      .tooth-chart
        = bs_tabs do |tab|
          = tab.bs_tab_for "Adult", true do
            = image_tag "AdultToothChart_1.jpg"
          = tab.bs_tab_for "Child" do
            Coming Soon
          = tab.bs_tab_for "Perio" do
            Coming Soon
          = tab.bs_tab_for "Soft Tissue" do
            Coming Soon
    .col-sm-6.dropzone-container
      = render "shared/images_drag_and_drop"

.row.body-element
  .dropzone{data: {role: "image-previews"}}

