- if @case.urgent?
  .row.body-element
    .alert.alert-danger.col-sm-3.urgent
      Marked urgent by #{@case.originator.full_name}
.row.body-element
  .col-lg-6
    .row
      = render "participants"
    .row
      = render "data"
  .col-lg-6
    = render "assets"
.row.body-element
  = render "main_images"
.row.body-element
  = render "reply_form"
  = render "messages"

