.row.body-element
  .col-lg-6
    .row
      = render "participants"
    .row
      = render "data"
  .col-lg-6
    = render "assets"
.row.body-element
  = render "main_images"
.row.body-element
  = render "reply_form"
  = render "messages"

