.row.body-element
  = render "add_participant"
.row.body-element
  = render "data"
  = render "assets"
.row.body-element
  = render "main_images"
.row.body-element
  = render "reply_form"
  = render "messages"

