%table{data: {role: "datatableized"}}
  %thead.inbox-header
    %th.col-lg-3{data: {class: "expand"}} Started By
    %th.col-lg-4{data: {hide: "phone", name: "To"}} To: Subject
    %th.col-lg-3{data: {hide: "phone", name: "Replied By"}} Last Reply By
    %th.col-lg-3{data: {hide: "phone", name: "On"}} Replied On
    %th.col-lg-2{data: {hide: "phone", name: "X"}} Archive
  %tbody
    - @patient_cases.each do |rcase|
      %tr.inbox-content{data: {role: 'row-selector'}, class: rcase.read? ? "read" : "unread"}
        %td.col-lg-3{data: {role: 'link-selector', target: case_url(rcase)}}
          .base= rcase.originator.full_name
          .meta= rcase.created_at.strftime("%B %d, %l:%M %p")
        %td.col-lg-4{data: {role: 'link-selector', target: case_url(rcase)}}
          .base
            = rcase.recipient.first_name
            = ":"
            %span.subject= rcase.subject
          .meta= "Unread" unless rcase.read?
        - most_recent = rcase.messages.order("created_at DESC").first
        %td.col-lg-3{data: {role: 'link-selector', target: case_url(rcase)}}
          = most_recent.sender.full_name
        %td.col-lg-3{data: {role: 'link-selector', target: case_url(rcase), order: most_recent.created_at.to_i}}
          .meta= most_recent.created_at.strftime("%b %d")
          .meta= most_recent.created_at.strftime("%l:%M %p")
        %td.col-lg-2.deleter
          = link_to "javascript:null(0);", data: {warning: 'coming-soon', message: "Archive this case"} do
            %i.fa.fa-archive

