.action-item
  = link_to "Message Box", "#"
.action-item
  = link_to "Announcements", "#"
.action-item
  = link_to "New Messages", "#"
.action-item
  = link_to "Practitioners", practitioners_path
.action-item
  = link_to "Patients", patients_path
