%h3= "Welcome to #{AppSettings.title}"
%span.spacer
.home-main
  %h4
    What would you like to do?
  %ul.unstyled
    %li
      = link_to "Visit Your Inbox", messages_path
    %li
      = link_to "Manage Patients", patients_path
    %li
      = link_to "Manage Practitioners", practitioners_path

