.row.body-element
  %span.body-title Patient
  %span.pull-right
    = link_to "Edit", edit_patient_path(@patient), class: 'btn btn-primary'
.row.body-element
  %dl.dl-horizontal
    %dt
      Name
      %dd= @patient.full_name
    %dt
      Address
      %dd= address
    %dt
      Home Phone
      %dd= @patient.home_phone
    %dt
      Mobile Phone
      %dd= @patient.mobile_phone
    %dt
      Work Phone
      %dd= @patient.work_phone
    %dt
      Email
      %dd= @patient.email
    %dt
      Gender
      %dd= @patient.gender
    %dt
      Date of Birth
      %dd= @patient.date_of_birth.strftime("%m/%d/%Y") if @patient.date_of_birth.present?
    %dt
      Marital Status
      %dd= @patient.marital_status
    %dt
      Social Security Number
      %dd= @patient.social_security_number
