<!DOCTYPE html>
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', "http-equiv" => 'Content-Type'}
  %body
    %p
      From:
      %span= @message.sender.decorate.full_name
    %p
      Patient:
      %span= @message.patient.decorate.full_name_with_dob
    %p
      Message:
      %span= @message.body
    %p
      - path = @case.flavor == "lab_order" ? laboratory_order_path(@case.passthrough_id) : case_path(@case)
      %span= link_to("View the message here", "#{Url.from_request(@request)}#{path}")

