<!DOCTYPE html>
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', "http-equiv" => 'Content-Type'}
  %body
    %p
      From:
      %span= @case.originator.decorate.full_name
    %p
      Patient:
      %span= @case.patient.decorate.full_name_with_dob
    %p
      Notes:
      %span= @case.notes
    %p
      %span= link_to("View the message here", "#{AppSettings.url}#{case_path(@case)}")
