.col-lg-8
  = bootstrap_form_for(@organization, layout: :horizontal) do |f|
    = f.text_field :name
    = f.hidden_field :type
    = f.fields_for :addresses do |address|
      = address.text_field :street1
      = address.text_field :street2
      = address.text_field :city
      = address.text_field :state
      = address.text_field :postal_code
    %h3 Contact info
    = f.fields_for :members do |practitioner|
      = practitioner.text_field :first_name
      = practitioner.text_field :last_name
      = practitioner.text_field :title
      = practitioner.text_field :salutation
      = practitioner.text_field :primary_phone
      = practitioner.text_field :email
      = practitioner.fields_for :user do |user|
        = practitioner.password_field :password
        = practitioner.password_field :password_confirmation
    .zone.padded
      = f.time_zone_select :time_zone

    .submit
      = f.submit "update", class: "btn-standard btn btn-primary send"

