- patients = ['Robert Broome', 'David Oliver', 'Alex Leach', 'Bob Onesto']
- patients = Patient.all.map(&:full_name)
- doctors = ['Dr. Lynn Griebahn', 'Dr. Wm Timothy Brooks', 'Dr. Charles Ray Graham','Dr. James Hudson']
- doctors = Practitioner.all.map(&:full_name)
.row.selector-bar
  .col-sm-4
    = bootstrap_form_tag(url: "#", data: {role: 'doctor-form'}, layout: :horizontal) do |f|
      = f.select :doctor, doctors
  .col-sm-4
    = bootstrap_form_tag(url: "#", data: {role: 'patient-form'}, layout: :horizontal) do |f|
      = f.select :patient, patients


.row.hero-menu
  - icons = {statimage: 'fa-file-photo-o', statlab: 'fa-flask', statscript: 'fa-edit', statclaim: 'fa-file-text', schedule: 'fa-calendar'}

  -icons.each do |stat_service, icon|
    .col-sm-2
      -# = link_to 'javascript:void(0)', html: {class: 'navbar-toggle'}, data: {toggle: 'collapse', target: '#main-menu'}  do
      = link_to 'javascript:void(0)', data: {role: 'close-menu'}  do
        .hero-icon
          %span.fa-stack.fa-lg
            %i.fa.fa-circle.fa-stack-2x.fa-inverse
            %i{class: "fa #{icon} fa-stack-1x"}
        .hero-caption
          = stat_service
