.row
  .navbar
    .navbar-header
      = render partial: 'layouts/stat_patient', locals: {logo_file: 'logo-orange.png'}

      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Inbox", messages_path
        %li
          = link_to "Patients", patients_path
        %li
          = link_to "Practitioners", practitioners_path
        %li
          = link_to "Help", "#"
