.row
  .navbar
    .navbar-header
      = render partial: 'layouts/stat_patient'

      %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    #navbar-main.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Dashboard", root_path
        %li
          = link_to "Patient Record", patients_path
        %li
          = link_to "Consent Forms", root_path
        %li
          = link_to "Patient Profile", "#"
        %li
          = link_to "Patient Education", "#"
