.row
  .navbar
    .navbar-header
      = render partial: 'layouts/stat_patient'

    %ul.nav.navbar-nav
      %li
        = link_to "Dashboard", root_path
      %li
        = link_to "Patient Record", patients_path
      %li
        = link_to "Consent Forms", root_path
      %li
        = link_to "Patient Profile", "#"
      %li
        = link_to "Patient Education", "#"
