- opacity = opacity || 'full'
- first, second = AppSettings.title.split(' ')
.stat-brand
  .link
    = link_to root_path, class: "navbar-brand" do
      = image_tag  'statpatient-logomark.png', class: "opacity-#{opacity}"
      %span.logo-text{class: "opacity-#{opacity}"}
        %span.first= first
        %span.second= second

