.row.body-element.topframe
  .col-lg-12
    %ul.nav.navbar-nav.navbar-left
      %li
        %span.pull-left.title
          Administration:
      %li
        %span.pull-left
          = link_to "Patients", patients_path

    %ul.nav.navbar-nav.navbar-right
      %li
        - if user_signed_in?
          %span.pull-right.logout-link
            - if @current_practitioner
              = link_to "Hello #{@current_practitioner.decorate.full_name}", practitioner_path(@current_practitioner)
            = link_to destroy_user_session_path, method: :delete, data: {role: 'signout'} do
              %i.glyphicon.glyphicon-remove
              Logout
        - else
          %span.pull-right.login-link
            = link_to "Sign in", "#"

