!!!
%html
  = render 'layouts/head'
  %body
    .container
      = render 'layouts/header'
      .main
        .main-inner
          = render "layouts/alert"
          = yield
      = render 'layouts/footer'

