!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/header'
    .main
      .main-inner
        .container-fluid
          = render "layouts/alert"
          = yield
    = render 'layouts/footer'

